/*
* Miikka Niemeläinen ja Teemu Rossi, 2018, All rights reserved
*/
ul li {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {

}

.container {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

#lomake {
  margin-top: 50px;
}

h1 {
  text-align: center;
}

#tekstikenttä, #tekstikenttä2 {
  width: 50%;

}

#Keskeneräisetotsikko {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

li a {
  display: block;
}

li button {
  margin-right: 20px;
}

.card-title {
  font-size: 30px;
}

.card-body {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 6px;
  border-radius: 10px;
  border-color: rgb(204, 204, 204);
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
  width: 90%;
}


ul li input:checked {

}

#poistanappi {
  position: absolute;
  right: 15px;
  display: none;
}
